@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/Quicksand';
@import '@fontsource/inter';

@layer base {
  html {
    font-family: "Quicksand";
  }
}
body {
  padding: 0;
  margin: 0;
  font-family:
    Quicksand,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

input {
  font-family: Quicksand;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.bg-primary {
  background-color: #131313;
}

.text-primary {
  /* color: #CFB440; */
  color: #9ca3af ;
  font-family: quicksand;
}

.text-main {
  color: #eea849
}

option {
  background-color: #131313;
  font-size: 18px;
}

option:hover {
  cursor: pointer;
}